@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --bg-color: #22252c;
  --second-bg-color: #323946;
  --text-color: #ffffff;
  --main-color: rgb(226, 132, 25);
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 62.5%;
  overflow-x: hidden;
  width: 100%;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: rgb(49, 49, 49);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header.sticky {
  border-bottom: 0.1rem solid rgba (0, 0, 0, 0.2);
}
p {
  text-align: justify;
}
.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  cursor: default;
  font-weight: 600;
}
.navbar a {
  font-size: 2rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
}
.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}
#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}
.social-media a {
  font-size: 3rem;
  color: var(--text-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  margin: 0.1rem 1rem 3rem 0;
  transition: 0.5s ease;
}
.social-media a:hover {
  background-color: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}
.basics-language span {
  font-size: 3rem;
  color: var(--text-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  margin: 0rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}
.basics-language span:hover {
  background-color: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}
.more-text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
button {
  font-size: 1.6rem;
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  color: var(--second-bg-color);
  font-weight: 600;
  transition: 0.5s ease;
  margin-left: 1, 2rem;
}
button:hover {
  box-shadow: none;
}
.dates {
  font-size: 3rem;
  color: var(--text-color);
  display: inline-flex;
  justify-content: center;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
.home-content h1 {
  font-size: 6.3rem;
  line-height: 1.3;
  font-weight: 700;
  color: rgb(255, 136, 0);
}
.home-img img {
  width: 25vw;
  border-radius: 30%;
  height: 200;
  border-color: var(--main-color);
  border: 5px solid var(--main-color);
  box-shadow: 0 0 3rem var(--main-color);
  margin: 7rem;
  animation: floatImage 4s ease-in-out infinite;
}
.home-button {
  display: flex;
  justify-content: center;
}
.home-p {
  display: flex;
  justify-content: center;
}
.home-h3 {
  display: flex;
  justify-content: center;
}
.home-h1 {
  display: flex;
  justify-content: center;
}
.social-media {
  justify-content: center;
  display: flex;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}
.home-content p {
  font-size: 1.6rem;
}
span {
  color: var(--main-color);
  padding-right: 2px;
}
.button {
  font-size: 1.6rem;
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  color: var(--second-bg-color);
  font-weight: 600;
  transition: 0.5s ease;
}
.button:hover {
  box-shadow: none;
}
p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.about-img img {
  width: 300px;
  border-radius: 20%;
  height: 200;
  border-color: var(--main-color);
  border: 5px solid var(--main-color);
  box-shadow: 0 0 3rem var(--main-color);
  margin: 3rem;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}
.about-content h2 {
  text-align: left;
  line-height: 1.2;
}
.about-content h3 {
  font-size: 2.6rem;
}
.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 0.5rem;
}
.content-li, li {
  font-size: 1.6rem;
  margin: 1rem 0 0 2rem;
  list-style-type: square;
  
}
.data-li {
  font-size: 1.2rem;
  margin: 0 0 0 2rem;
  list-style-type: none;
  font-style: italic;
}

.courses h2 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.courses-container {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
.courses-container .courses-box {
  flex: 1 1 50rem;
  background: var(--second-bg-color);
  padding: 3rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
}
.courses-box i {
  font-size: 7rem;
  color: var(--main-color);
}
.courses-box h3 {
  font-size: 2.6rem;
}
.courses-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}
.courses-box h1 {
  font-size: 1.2rem;
  margin: 1rem 0 3rem;
}
.courses-container .courses-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
  box-shadow: 0 0 2rem var(--main-color);
}
.contact-content {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  flex: 1 1 30rem;
  background: var(--second-bg-color);
  padding: 3rem;
  border-radius: 2rem;
  text-align: center;
  transition: 0.5s ease;
  border-color: 10px solid var(--main-color);
}
.contact-content:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
  box-shadow: 0 0 2rem var(--main-color);
}
.contact-content h3 {
  font-weight: 900;
  font-size: 2.5rem;
}
.contact-content a {
  color: var(--main-color);
  font-size: 2.5rem;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
}
.footer-text p {
  font-size: 1.6rem;
}
.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.5s;
  margin-left: 1rem;
}
.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}
.footer-iconTop a:hover {
  box-shadow: 0 0 2rem var(--main-color);
}
@media (max-width: 1200px) {
  html {
    font-size: 55%;
    overflow-x: hidden;
  }
}
  @media (max-width: 768px) {
   #menu-icon {
      display: block;
    }
    .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 1rem 3%;
      background: var(--bg-color);
      border-top: .1rem solid rgb(0, 0, 0, .2);
      box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .2);
      display: none;
    }
    .navbar.active {
      display: block;
    }
    .navbar a {
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
    }
    .home {
      flex-direction: column;
    }
    .home-content h3 {
      font-size: 2.0rem;
    }
    .home-img img {
      width: 60vw;
      margin-top: 4rem;
    }
    .about {
      flex-direction: column-reverse;
    }
    .about-button {
      display: flex;
      justify-content: center;
    }
    .courses h2 {
      margin-bottom: 3rem;
    }
    .basics-language{
      display: flex;
      justify-content: center;
    }
    .home-content h1 {
      font-size: 3.5rem;
      font-weight: 700;
      color:rgb(255, 136, 0)
  }
  .about-p {
    display: flex;
    justify-content: center
  }
}