h2 {
  color: rgb(79, 75, 83);
}
.section-header {
  text-align: center;
  color: rgb(26, 158, 158);
}
img {
  width: 200px;

  
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: aqua;
  transition: 3s;
}

footer {
  text-align: center;
}

header ul {
  list-style: none;
}


